
*::-webkit-scrollbar {
    position: absolute;
    display: none;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3b9388;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
    /*background: rgb(11,33,47);*/
    /*background: linear-gradient(180deg, rgba(11,33,47,1) 0%, rgba(23,81,120,1) 100%);*/
    background-image: url("../images/bg1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
    overflow-y: hidden;
}

a {
    text-decoration: none !important;
}

div.navbar-prettyquotes {
    position: fixed;
    top: 0px;
}

/*main.container{*/
/*    padding-top: 80px;*/
/*}*/

.mdl-layout__header {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mdl-layout__header-row {
    position: relative;
}

.mdl-layout-title {
    color: #FF5722;
    position: relative;
    left: -40px;
    font-family: Noteworthy, sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
    text-shadow: 0 0px 2px rgba(0, 0, 0, 0.44);
    width: 270px;
    z-index: 6;
}

.title-for {
    font-family: "Brush Script MT", serif;
    font-size: 0.8em;
    position: absolute;
    color: white;
    left: 55%;
    bottom: -17px;
    z-index: 0;
}

.mdl-layout-title:hover {
    bottom: 1px;
    color: #FF5722;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.44);
}

.navigation {
    background: transparent;
    position: relative;
    bottom: -5px;
    color: #e9e9e9;
    font-weight: lighter;
}

.navigation.active {
    color: white;
    font-weight: bold;
    border-bottom: 3px solid #FF5722;
}

.navigation:hover {
    color: white;
    background: transparent;
    border-bottom: 3px solid #FF5722;
}

.row-navigation {
    margin-left: 20px;
}

.row-navigation__auth {
    position: absolute;
    right: 0;
}

.container {
    min-width: 1200px;
}

div.card.card-main {
    width: 1180px;
    position: relative;
    height: 90vh;
}

div.card.card-main--auth {
    width: 1180px;
    background-color: rgba(27, 30, 33, 0.11) !important;
    position: relative;
    height: 90vh;
}

div.message-invite {
    width: 98%;
    position: absolute;
    left: 1%;
    bottom: 0px;
    font-family: Nunito, sans-serif;
    font-size: 1.2em;
    color: #FF5722;
    z-index: 99;
}

div.card-header.card-header__auth {
    font-family: Nunito, sans-serif;
    color: #1e4865;
    font-weight: bolder;
    font-size: 1.3em;

}

div.card.form-poster, div.card.form-auth {
    border-top: 7px solid #FF5722;
    border-bottom: 7px solid #FF5722;
}

div.card.form-auth {
    top: 0;
}


.text__top {
    color: #fff;
    line-height: 1.3;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.mdl-card {
    position: relative;
}

#designSelection {
    background: transparent;
    width: 608px;
    position: absolute;
    z-index: 99;
    top: 5px;
    right: -650px;
}
.quote-text__bg {
    background-color: rgba(0, 0, 0, 0.50);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/*=======DESIGN 1=============*/

div.quote-text.design_1 {
    position: absolute;
    border-radius: 5px;
    bottom: 1%;
    left: 1%;
    width: 98%;
    height: auto;
}
/*=============================*/
/*=======DESIGN 2=============*/
div.quote-text.design_2 {
    position: absolute;
    border-radius: 5px;
    top: 1%;
    left: 1%;
    width: 98%;
    height: auto;
}
/*=============================*/
/*=======DESIGN 3=============*/
div.quote-text.design_3 {
    position: absolute;
    border-radius: 5px;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    left: 1%;
    width: 98%;
    height: auto;
}
/*=============================*/
/*=======DESIGN 4=============*/
div.quote-text.design_4 {
    text-align: left !important;
   padding: 2em 0;
    position: absolute;
    border-radius: 5px;
    top: 1%;
    left: 1%;
    width: 60%;
    height: 98%;
}
/*=============================*/
/*=======DESIGN 5=============*/
div.quote-text.design_5 {
    text-align: right !important;
    padding: 2em 0;
    position: absolute;
    border-radius: 5px;
    top: 1%;
    right: 1%;
    width: 60%;
    height: 98%;
}
/*=============================*/
.default_quote {
    position: relative;
    bottom: -50px;
    text-align: center;
    height: 500px;
    padding-top: 200px;
}

.mdl-textfield {
    width: 100%;
}

.label--design-choice {
    width: 60px !important;
}

#quoteImg {
    position: absolute;
    z-index: 2;
    top: 5px;
}

.wrap-quote {
    position: relative;
    top: 5px;
    width: 608px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mdl-card__title-text {
    display: inline-block;
    align-self: normal;
}

.wrap-card-body__radio {
    align-content: center;
}

.col-7 {
    position: relative;
}

[type=radio] {
    position: absolute;
    opacity: 0;
}

[type=radio] + img {
    width: 60px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
}

[type=radio]:checked + img {
    box-shadow: 0 0 0px 3px #FF5722;
}

.alert-info {
    width: 608px;
}

div.mdl-button.mdl-button--primary.mdl-button--icon.mdl-button--file {
    right: 0px;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 4;
}

span.small {
    color: darkseagreen;
    font-size: 0.5em;
}

.mdl-textfield--file.mdl-textfield__input {
    box-sizing: border-box;
    width: 100%;
}

.mdl-textfield--file.mdl-button--file {
    position: absolute;
    right: 0;
}


div.alert.alert-danger {
    padding: 0;
    color: crimson;
    border: none;
    background: none;
    position: relative;
    top: -15px;
}

#search {
    width: 300px;
}

.button-save {
    width: auto;
    position: relative;
    left: -50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}


div.row.d-flex::after {
    content: '';
    flex: auto;
}

div.row.row-search {
    position: absolute;
    width: 100%;
    z-index: 5;
    left: 15px;
    top: 0;
    border-bottom: 2px solid #c5c5c5;
}

form#form-reset {
    position: relative;
    width: auto;
}

button#reset-search {
    position: absolute;
    right: 10px;
}

div.row.row-results {
    overflow-y: scroll;
}

/* Quotes image card */
.poster-row--divider {
    position: relative;
    display: inline-block;
    width: 200px;
    color: #f6f7ff;
    border: 1px solid #1e4865;
    background-color: rgba(30, 72, 101, 0.6);
    border-radius: 50px;
}

.poster-row--divider:after {
    content: "";
    position: absolute;
    width: 885px;
    bottom: 25%;
    left: 100%;
    right: 0;
    height: 0.5em;
    border-top: 2px solid #1e728f;
    z-index: 1;
}

.demo-card-image.mdl-card {
    position: relative;
    width: 250px;
    height: auto;
    cursor: pointer;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.demo-card-image.mdl-card:hover {
    bottom: 2px;
    box-shadow: 0px 2px 10px black;
}


.demo-card-image.mdl-card:hover .mdl-button.button-action {
    opacity: 1;
    width: auto;
}

.modal-toggle {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-toggle:focus {
    outline: none !important;
}

#addButton, #registerInviteButton {
    position: relative;
    width: 250px;
    height: 215px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#addButton:hover {
    background-color: #f7fff6;
    border: 5px solid #deffdd;
}

a.mdl-button {
    text-decoration: none;
}

.mdl-button.button-action, .mdl-button__ripple-container {
    z-index: 5;
    opacity: 0;
    position: absolute;
    min-width: 30px !important;
    width: 30px !important;
    height: 30px;
    color: white;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    top: 5px;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.button-action--delete {
    right: 5px;
}

.button-action--delete:hover i {
    color: orangered;
}

.button-action--edit {
    right: 45px;
}

.button-action--edit:hover i {
    color: dodgerblue;
}
i.material-icons {
    position: relative;
    font-size: 1.6em;
    bottom: 5px;
}

i.fa-facebook-f {
    font-size: 1.6em;
    color: white;
}

.material-icons {
    color: white;
}

.centered {
    width: auto;
    display: inline-block;
}


div.modal.fade {
    background-color: rgba(0, 0, 0, 0.81) !important;
    height: 100vh;
    cursor: pointer;
}

.modal-content.modal-poster {
    box-sizing: border-box;
    position: relative;
    border-radius: 7px;
    height: 400px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    cursor: pointer;
}

.modal-image--poster {
    border-radius: inherit;
    width: 620px;
    height: auto;
}

.modal-content.modal-delete {
    height: auto;
    border-top: 7px solid #FF5722;
}

.modal-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

button.close {
    position: absolute;
    top: -30px;
    right: -150px;
    color: white;
    font-size: 1.8em;
    cursor: pointer;
    z-index: 9999;
}

i.fa-times-circle:hover {
    color: orangered;
}

button.close:focus {
    outline: none;
}

.mdl-textfield {
    position: relative;
}

.fas.fa-search {
    font-size: 1.5em;
    position: absolute;
    left: 0px;
    color: #3b9388;
}

.row--bottom-quote {
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.row--bottom-quote--auth {
    position: relative;
    width: 98%;
    left: 3%;
    /*position: absolute;*/
    /*top: 15px;*/
}

.col--bottom-quote {
    border-radius: 10px;
    /*border-left: 7px solid #FF5722 ;*/
    /*border-right: 7px solid #FF5722 ;*/
}

#bottom_quote {
    font-family: 'Nunito', sans-serif;
}


/* ============= CAROUSEL ===========*/

.carousel-inner {
    height: 70px;
}

.carousel-item {
    top: 10px;
}

/* show 3 items */
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    transition: all 300ms;
    visibility: visible;
}

/* farthest right hidden item must be also position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    transition: all 300ms;
    visibility: visible;
    display: block;
}

span.carousel-control-next-icon, span.carousel-control-prev-icon {
    width: 10px;
}

a[role="button"] {
    background-color: #1e4865;
    top: 50%;
    transform: translateY(-60%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

a.carousel-control-prev {
    position: absolute;
    left: -20px;
}

a.carousel-control-next {
    position: absolute;
    right: -20px;
}


